@using Blazor.Shared
@using Blazor.Shared.Characters
@using Microsoft.AspNetCore.Authorization;
@page  "/characters/{id}"
@inject HttpClient _client
@layout MainLayout
@*@attribute [Authorize]*@

@if (pc == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <img src="@pc.Icon" alt="@pc.Name" style="float: right; width: 300px; height:auto;" />
    <h1>@pc.Name</h1>
    <table width="75%">
        <tr>
            <td>Clan</td>
            <td>Family</td>
            <td>School</td>
            <td>Rank</td>
        </tr>
        <tr>
            <td>@pc.Clan.Name</td>
            <td>@pc.Family</td>
            <td>@pc.School</td>
            <td>@pc.Rank</td>
        </tr>
    </table>
    <h2>Description</h2>
    <p>@pc.Description</p>
}

@code {
    [Parameter] private string id { get; set; }
    private PC pc;

    protected override async Task OnInitAsync()
    {
        pc = await _client.GetJsonAsync<PC>(Urls.GetPC.Replace("{id}", id));
    }
}