@page  "/advantages/"

@using EmeraldBot.Model
@using EmeraldBot.Model.Servers
@using EmeraldBot.Model.Game
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Authorization;
@using  System.Linq;

@inject EmeraldBotContext _ctx
@inject IHttpContextAccessor _ca
@inject IUriHelper _uri

<RedirectToLoginIfNotAuthorized />
<h1>Advantages</h1>
<ServerSelector ServerIDChanged="@ServerSelected" />

@if (_advantages.Count == 0)
{
    <p>Page is loading...</p>
}
else
{
<BlazorNav IsPills="true">
    @foreach (var c in _classes)
    {
        <BlazorNavLink @onclick="@((e) => _openType = c.ID)" IsActive="@(_openType == c.ID)">@c.Name</BlazorNavLink>
    }
</BlazorNav>
<TabContent>
    @foreach (var c in _classes)
    {
        <TabPane IsOpen="@(_openType == c.ID)">
            <BlazorTable IsHovarable="false" IsStriped="true">
                <TableHead TableHeadType="TableHeadType.Dark">
                    <tr>
                        <th>Name</th>
                        <th>Alias</th>
                        <th style="text-align: center;">Ring</th>
                        <th style="text-align: center;">Type</th>
                        <th style="text-align: center;"><BlazorButton ButtonType="ButtonType.Button" Color="Color.Success" @onclick="@((e) => _uri.NavigateTo($"advantages/add"))">New Technique</BlazorButton></th>
                    </tr>
                </TableHead>
                <tbody>
                    @foreach (var t in _advantages.Where(x => x.AdvantageClass.ID == c.ID).OrderBy(x => x.Name))
    {
                    <tr>
                        <td>@t.Name</td>
                        <td>@t.Alias</td>
                        <td style="text-align: center;"><Image Alignment="Alignment.Center" src="@(GetRingImage(t.Ring))" alt="@t.Ring.Name" style="width: 40px; height: auto;" /></td>
                        <td style="text-align: center;">@(string.Join(", ", t.AdvantageTypes.Select(x => x.AdvantageType.Name).OrderBy(x => x)))</td>
                        <td style="text-align: center;">
                            <BlazorButton IsOutline="true" Color="Color.Secondary" Size="Size.Small" @onclick="@((e) => _uri.NavigateTo($"advantages/{t.ID}"))">View</BlazorButton>
                            @if (_isGM && t.Server.DiscordID != 0 || _isAdmin)
                            {
                                <BlazorButton IsOutline="true" Color="Color.Success" Size="Size.Small" @onclick="@((e) => _uri.NavigateTo($"advantages/{t.ID}/edit"))">Edit</BlazorButton>
                                <BlazorButton IsOutline="true" Color="Color.Danger" Size="Size.Small" @onclick="@((e) => _uri.NavigateTo($"advantages/{t.ID}/delete"))">Delete</BlazorButton>
                            }
                        </td>
                    </tr>
}
                </tbody>
            </BlazorTable>
        </TabPane>
}
</TabContent>
}

@code {
[CascadingParameter(Name = "UserID")] protected int UserID { get; set; }
private List<Advantage> _advantages = new List<Advantage>();
private List<AdvantageClass> _classes;
private bool _isGM;
private bool _isAdmin;
private int _openType;

protected override void OnInit()
{
    _classes = _ctx.Set<AdvantageClass>().OrderBy(x => x.Name).ToList();
    _openType = _classes.Single(x => x.Name.Equals("Distinction")).ID;
    _isAdmin = _ctx.UserRoles.SingleOrDefault(x => x.User.ID == UserID && x.Role.Name.Equals("Admin")) != null;
}

public void ServerSelected(int id)
{
    _advantages = _ctx.Advantages.Where(x => x.Server.ID == id || x.Server.DiscordID == 0).ToList();
    foreach (var a in _advantages)
    {
        _ctx.Entry(a).Reference(x => x.Ring).Load();
        _ctx.Entry(a).Reference(x => x.AdvantageClass).Load();
        _ctx.Entry(a).Collection(x => x.AdvantageTypes).Load();
    }
    _isGM = _ctx.HasPrivilege(id, UserID);
}

private string GetRingImage(Ring r)
{
    return $"img/{r.Name}.png";
}

}