@using EmeraldBot.Model.Characters
@inherits CharacterSelectorBase

@if (PCs.Count > 0)
{
    <FormGroup>
        <BlazorLabel For="CharacterSelector">Character</BlazorLabel>
        <Dropdown Id="CharacterSelector" IsOpen="@IsOpen">
            <DropdownToggle @onclick="@OnClick">@((PCs.Count > 0 && PC != null) ? PCs.Find(x => x.ID == PC.ID).Name : (PC == null ? "Unchanged" : "Loading..."))</DropdownToggle>
            <DropdownMenu IsOpen="@IsOpen">
                @foreach (var pc in PCs)
                {
                    <DropdownItem @key="@pc.ID" @onclick="@(async (e) => await CharacterSelected(pc))">@pc.Name</DropdownItem>
    }
            </DropdownMenu>
        </Dropdown>
    </FormGroup>
}
else
{
    <p>You do not have any characters on this server: you can't send any message.</p>
}

@code {
private bool IsOpen = false;

private void OnClick(UIMouseEventArgs e)
{
    IsOpen = !IsOpen;
    StateHasChanged();
}

protected async Task CharacterSelected(PC pc)
{
    if (PC != pc)
    {
        PC = pc;
        await PCChanged.InvokeAsync(PC);
    }
    IsOpen = false;
}
}